.wrapper {
    width: 80%;
    margin: 4em auto;
}

.wrapper .title {
    text-align: center;
    font-size: 2.2em;
    font-weight: 500;
    color: var(--primary);
    margin: 1.4em auto;
}

.sliderWrapper {
    align-items: center;
    display: flex;
    height: 4em;
    justify-content: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 15));
    }
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, var(--white) 0%, rgba(255, 255, 255, 0) 50%);
    content: '';
    height: 100px;
    position: absolute;
    width: 100px;
    z-index: 2;
    margin: -2px;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slideTrack {
    display: flex;
    animation: scroll 100s linear infinite;
    width: calc(250px * 30);
}

.slider .slide {
    width: 250px;
    cursor: pointer;
    opacity: 0.7;
}

.slider .slide:hover {
    opacity: 1;
}

.slider .slideTrack:hover {
    animation-play-state: paused;
}

/* mobile view */
@media (max-width: 420px) {
    .wrapper .title {
        font-size: 1.4em;
        margin: 3em auto;
        margin-bottom: 1rem;
    }
    .slider {
        height: 90px;
    }
}
