.searchDoctor {
    width: 50%;
    margin: 1em auto;
    background-color: var(--white);
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 2em;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 1px 2px 4px var(--light);
}

.wrapperRight {
    padding: 4px 0;
    border: 1px solid var(--light);
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
}

.searchBar {
    display: flex;
    align-items: center;
}

.searchBar span {
    padding: 0 8px 0 10px;
    color: var(--grey2);
    border-right: 2px solid var(--grey2);
    opacity: 0.9;
}
.searchBar input {
    border: none;
    padding: 10px;
    width: 320px;
    font-size: 14px;
}

.searchBar input:focus {
    outline: none;
}

.space {
    width: 2px;
    margin: 8px;
    background-color: var(--grey);
}

.cross {
    position: absolute;
    right: 30px;
    color: var(--red);
    font-weight: 600;
    font-size: 16px;
    transition: 200ms;
}

.cross:hover {
    cursor: pointer;
    transition: 200ms;
    opacity: 0.8;
    font-size: 22px;
}

.doctorShow {
    position: absolute;
    background-color: var(--white);
    width: 100%;
    border-radius: 4px;
    padding: 2px 4px;
    overflow-y: auto;
    border: 1px solid var(--light);
    top: 70px;
    margin-left: -10px;
    z-index: 110;
    max-height: 50vh;
}

.optSelect {
    padding: 20px 6px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid var(--light-grey);
    color: var(--dark-grey);
    margin-bottom: 0px;
}

.optSelect > div {
    display: flex;
    gap: 14px;
}

.optSelect > div img {
    display: block;
    object-fit: cover;
    border-radius: 4px;
}

.optSelect h3 {
    margin-top: 6px;
    margin-bottom: 10px;
}

.optSelect:hover {
    background-color: var(--primary);
    color: var(--white);
}

.doctorShow > button {
    display: block;
    margin: 20px auto;
    background-color: var(--secondary);
    border: none;
    color: var(--white);
    padding: 6px 20px;
    border-radius: 4px;
}

.doctorShow > button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 200ms;
}

@media (max-width: 420px) {
    .searchDoctor {
        width: 100%;
        margin-bottom: 1em;
        height: 80;
    }

    .searchBar input {
        border: none;
        width: 240px;
        font-size: 14px;
        padding-right: 6px;
    }

    .optSelect {
        z-index: 100;
        font-size: 12px;
        padding: 10px;
    }

    .optSelect > div > div {
        display: none;
    }
}
