.Login,
.overlay {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    z-index: 100;
}
.overlay {
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}
.statusMsg {
    position: absolute;
    top: 50px;
    color: var(--white);
    background: var(--red);
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 50;
    box-shadow: 0 5px 10px var(--grey);
}
.statusMsg > span {
    background: red;
    border-radius: 50px;
    display: inline-block;
    width: 14px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    margin: 0 0 0 4px;
}
.Wrapper {
    background: var(--white);
    padding: 0;
    border-radius: 6px;
    width: 460px;
    margin: 0 auto;
    z-index: 50;
    transition: 200ms;
}

.left {
    font-size: 14px;
    color: var(--white);
    background: rgb(69, 125, 195, 0.8);
    border-radius: 5px 0 0 5px;
    padding: 80px 40px;
}
.left > div > h2 > svg {
    font-size: 32px;
}
.left p {
    font-size: 14px;
    line-height: 24px;
}
.right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0px;
    padding: 0 40px;
    position: relative;
}
.right > div {
    width: 100%;
}
.right > div > h2 {
    text-align: center;
    color: var(--primary);
    margin: 0 0 50px 0;
}
.right > div > h2 > svg {
    margin: 0 5px 0 0;
}
.right > div > form > div {
    position: relative;
    width: 100%;
}
.right > div > form > div > input {
    display: block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: 0;
    padding: 7px 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--dark-blue);
    border-bottom: 2px solid var(--light-grey);
    position: relative;
}
.right > div > form > div > input + label::before {
    content: '';
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: 200ms;
}
.right > div > form > div > input:focus + label::before {
    width: 100%;
}
.right > div > form > div > input + label span {
    font-size: 14px;
    color: var(--grey);
    position: relative;
    top: -34px;
    pointer-events: none;
    transition: 200ms;
}
.right > div > form > div > input:focus + label span,
.right > div > form > div > input:valid + label span {
    top: -52px;
    font-size: 12px;
}
.right > div > form > button {
    color: var(--white);
    background: var(--primary);
    display: block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: 0;
    border-radius: 2px;
    padding: 7px 20px;
    cursor: pointer;
    margin: 10px 0 0 0;
}
.linkText {
    color: var(--dark-blue);
    font-size: 12px;
    margin: 20px 0 0 0;
}
.linkText a {
    text-decoration: none;
    padding-left: 10px;
    font-size: 14px;
    color: var(--primary);
    font-weight: 500;
}

.cross {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: -64px;
    right: 22px;
}

.cross > span {
    border: 1px solid var(--light);
    padding: 1px 10px 3px 11px;
    border-radius: 50%;
    font-size: 16px;
    color: var(--red);
    transition: 200ms;
    font-weight: 600;
}

.cross > span:hover {
    border: 1px solid var(--red);
    cursor: pointer;
    font-weight: 600;
    color: var(--red);
    transition: 200ms;
}

@media (max-width: 420px) {
    .left {
        display: none;
    }
    .Wrapper {
        grid-template-columns: 90%;
        gap: 0px;
    }
    .right {
        margin: 40px 0 60px 2px;
    }
    .right > div > h2 {
        margin: 0 0 30px 0;
    }

    .cross {
        top: -24px;
        right: 22px;
    }
}
