.tele {
    margin: 0;
    margin-bottom: 40px;
}

.tele > p {
    margin-top: 2em;
    margin-left: 3.5em;
    font-size: 32px;
    color: var(--secondary);
}

.tele > p > span {
    font-size: 38px;
    font-weight: 500;
    color: var(--primary);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 40px;
    padding: 10px 8em;
}

.grid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 300ms;
}

.grid > div:hover {
    transform: translateY(-4px);
    cursor: pointer;
    transition: 300ms;
}

.grid > div > div {
    border-radius: 4px;
    padding-bottom: 20px;
    background-color: var(--white);
    margin-bottom: 10px;
}

.grid > div > div img {
    display: block;
    object-fit: cover;
    border-radius: 4px;
}

.grid > div > div > a {
    display: block;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    color: var(--primary);
    text-align: center;
    margin: 0 20px;
    margin-top: 10px;
    font-weight: 500;
}

.grid > div > div > a:hover {
    opacity: 0.9;
    transition: 200ms;
}

.grid > div > span {
    display: block;
    color: var(--dark);
    font-size: 16px;
    text-align: center;
    margin-top: -6px;
}
