.wrapper {
    padding: 10px 0em;
    background-color: var(--white);
}

.gridBox {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.gridBox > div:nth-child(1) {
    margin-top: 5em;
    text-align: center;
    padding: 0 2em;
}

.bannerImg {
    height: 20px;
    width: auto;
}

.gridBox > div > h1 {
    color: var(--primary);
    font-weight: 500;
    margin-top: -66px;
    margin-bottom: -4px;
}

.header {
    margin-top: 40px;
    font-size: 26px;
    color: var(--primary);
    margin-bottom: -10px;
}

.gridBox > div > p {
    color: var(--dark);
    margin-top: 20px;
    font-size: 10px;
    margin-bottom: -20px;
}

.gridBox > div > button {
    border: none;
    border-radius: 4px;
    padding: 14px 100px;
    background-color: var(--primary);
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}

.gridBox > div > button:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: 250ms;
}

.gridBox > div > div {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridBox > div > .display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px 10px;
    margin-top: 20px;
}

.gridBox > div > .display > div {
    border: 1px solid var(--light);
    padding: 14px 32px 18px;
    border-radius: 6px;
    box-shadow: 4px 8px 12px var(--light);
}

.gridBox > div > .display > div > p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark);
    text-align: center;
    color: var(--primary);
}

.gridBox > div > .display > div > span {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--dark);
    padding-left: 10px;
}

.gridBox .search {
    background-color: var(--primary);
    padding: 30px;
    border-radius: 4px;
    margin-bottom: -3em;
}

.whyHealth {
    margin-top: 6em;
}

.whyHealth > div {
    margin-top: 2em;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 0 80px;
}
.whyHealth > div > div {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: -10px;
}
.whyHealth > h1 {
    font-size: 24px;
    text-align: center;
    color: var(--primary);
}

.gridBox > div > div > p {
    padding-right: 40px;
    padding-left: 6px;
    color: var(--dark-blue);
    font-weight: 500;
}

.wrapper > h2 {
    text-align: center;
    color: var(--primary);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 24px;
    margin-top: 3em;
}

.service {
    padding: 20px 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-bottom: 2em;
}

.service > div {
    background-color: var(--white);
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--light);
    transition: 300ms;
    text-transform: capitalize;
    border-top: 4px solid var(--primary);
    box-shadow: 1px 2px 4px var(--light);
    font-size: 16px;
    color: var(--dark);
}

.service > div:hover {
    cursor: pointer;
    transform: translateY(-6px);
    transition: 300ms;
    box-shadow: 4px 8px 16px var(--light);
}

.order {
    font-size: 24px;
    padding-top: 5em;
    margin-bottom: -20px;
}

.show {
    position: relative;
}

.medicineShow {
    display: flex;
    flex-direction: column;
    text-align: left;

    position: absolute;
    background-color: var(--white);
    width: 70%;
    border-radius: 4px;
    padding: 2px 4px;
    overflow-y: auto;
    border: 1px solid var(--light);
    top: -26px;
    left: 15%;
    z-index: 110;
    max-height: 44vh;
}

.medicineShow > div {
    padding: 20px;
}

.optSelect {
    padding: 10px 6px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid var(--light-grey);
}

.optSelect h3 {
    margin-top: 6px;
    margin-bottom: 10px;
}

.optSelect:hover {
    background-color: var(--primary);
    color: var(--white);
}

.optSelect > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.optSelect button {
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 8px 20px;
    border-radius: 4px;
}

.optSelect button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: 200ms;
}

.medOrder {
    width: 100%;
    border: 1px solid var(--light-low);
    margin-bottom: 20px;
    padding: 20px;
    margin-top: -20px;
    flex-direction: column;
    border-radius: 4px;
}

.medOrder > h2 {
    margin-top: -10px;
    text-transform: uppercase;
    color: var(--primary);
}

.medOrder > h2 > svg {
    padding-right: 6px;
}

.medOrder > div {
    display: grid;
    grid-template-columns: 0.5% 20% 12% 20% 10% 16% 6% 13.2% 1%;
}

.medOrder > .header {
    width: 100%;
    margin-top: -10px;
    background-color: var(--primary);
    color: var(--white);
    font-size: 12px;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 6px;
    border-radius: 10px 0px 10px 0px;
}

.medOrder > .header > span,
.medOrder > .body > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.medOrder > .body {
    width: 100%;
    margin-top: 6px;
    color: var(--dark);
    font-size: 12px;
    padding: 14px 20px;
    font-weight: 500;
    background-color: var(--light);
    border-radius: 4px;
}

.medOrder > .body > svg {
    color: var(--red);
    font-size: 12px;
    align-self: center;
}

.medOrder > .body > svg:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 200ms;
}

.medOrder > .body > div {
    display: flex;
    justify-content: center;
}

.medOrder > .body > div > input {
    width: 80px;
    padding: 2px;
    padding-left: 14px;
    text-align: center;
}

.messege {
    padding-top: 10px;
    color: var(--red);
    font-weight: 500;
    font-size: 16px;
}

.gridBox > div > .total {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -2px;
}

.total > table {
    width: 300px;
    border: 1px solid var(--dark);
    border-collapse: collapse;
}

.total > table > tbody > tr {
    width: 100%;
    border: 1px solid var(--light-grey);
}

.total > table > tbody > tr > td {
    text-align: right;
    border: 1px solid var(--light-grey);
    font-size: 12px;
    padding: 4px;
}

.total > table > tbody > tr > td:nth-child(2) {
    font-size: 14px;
    text-align: center;
    min-width: 100px;
}

.total > table > tbody > tr > td > span {
    font-size: 10px;
}

.gridBox > div > .offer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
}

.offer > table {
    width: 100%;
    border: 1px solid var(--dark);
    border-collapse: collapse;
}

.offer > table > tbody > tr {
    width: 100%;
    border: 1px solid var(--light-grey);
}

.offer > table > tbody > tr > td {
    text-align: center;
    border: 1px solid var(--light-grey);
    font-size: 14px;
    padding: 12px;
}

.offer > table > tbody > tr > td > span {
    display: block;
    font-size: 16px;
    margin-bottom: 1px;
    font-weight: 600;
    color: var(--primary);
}

.star {
    color: var(--orange);
    padding-left: 2px;
    font-size: 14px;
}

.gridBox > div > .buttonAdd {
    display: flex;
    justify-content: space-between;
    margin-top: -26px;
    margin-right: -10px;
}

.extra {
    margin-top: 12px;
}

.extra > p {
    font-size: 12px;
    color: var(--secondary);
    text-align: left;
    margin: 0;
}

.buttonAdd > span {
    color: var(--secondary);
    font-weight: 500;
    border: none;
    padding: 6px 10px;
    border-radius: 2px;
    font-size: 14px;
}

.buttonAdd > button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: 200ms;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact p {
    margin-top: 30px;
    font-size: 14px;
    margin-left: 26px;
    color: var(--dark-grey);
}

.contact a {
    background-color: var(--primary);
    color: var(--white);
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

/* for mobile responsive */
@media (max-width: 420px) {
    .wrapper {
        padding: 2px 0em;
    }
    .gridBox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-auto-flow: dense;
        direction: rtl; */
    }
    .gridBox > div:nth-child(1) {
        order: 1;
        margin-top: -3em;
        padding: 0 20px;
    }

    .gridBox > div:nth-child(2) {
        order: -1;
        margin-top: -30px;
    }
    .gridBox > div > h1 {
        margin-top: 20px;
        font-size: 1.5rem;
        margin-bottom: 8px;
    }

    .gridBox > div > p {
        font-size: 12px;
        display: none;
    }
    .wrapper h2 {
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 3.3rem;
    }

    .gridBox > div > div {
        display: flex;
        flex-direction: column;
    }
    .gridBox > div > div > p {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 12px;
    }
    .gridBox > div:nth-child(2) {
        padding: 30px;
    }
    .gridBox > div > button {
        padding: 10px 40px;
        font-size: 12px;
    }

    .gridBox > div > .display {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4px;
        margin-top: 10px;
    }

    .gridBox > div > .display > div {
        border: 1px solid var(--light);
        padding: 8px;
        border-radius: 6px;
        box-shadow: 4px 6px 10px var(--light);
    }

    .gridBox > div > .display > div > span {
        font-size: 10px;
        font-weight: 500;
        color: var(--dark);
        padding-left: 10px;
    }

    .gridBox > div > .display > div > p {
        font-size: 12px;
    }

    .gridBox > div > .buttonAdd {
        display: flex;
        justify-content: space-between;
        margin-top: -26px;
        margin-right: 0px;
    }

    .gridBox .search {
        margin-top: 20px;
        padding: 20px;
    }

    .service {
        padding: 10px 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        margin-bottom: 15px;
    }
    .service div {
        font-size: 12px;
        padding: 30px 40px;
    }

    /* new added  */
    .whyHealth > div {
        margin-top: 2em;
        display: flex;
        flex-direction: column;

        margin-bottom: 20px;
        justify-content: center;
        padding: 0 80px;
    }

    .whyHealth > div > div {
        margin-top: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;
        margin-top: -10px;
    }

    .heeader {
        margin-top: 10px;
    }

    .medicineShow {
        display: flex;
        flex-direction: column;
        text-align: left;

        position: absolute;
        background-color: var(--white);
        width: 92%;
        border-radius: 4px;
        padding: 2px 4px;
        overflow-y: auto;
        border: 1px solid var(--light);
        top: -16px;
        left: 4%;
        z-index: 110;
        max-height: 58vh;
    }

    .medicineShow > div {
        padding: 10px;
    }

    .optSelect > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .optSelect button {
        margin-top: 24px;
    }

    .medOrder {
        padding: 4px;
    }

    .medOrder > h2 {
        margin-top: 10px;
        font-size: 20px;
    }

    .medOrder > div {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 20px 0px;
    }

    .medOrder > .body > svg {
        display: block;
        margin: 0 auto;
    }

    .medOrder > .body > div > input {
        width: 80px;
        padding: 2px;
        padding-left: 0px;
        text-align: center;
    }

    .extra > p {
        font-size: 10px;
        text-align: center;
        margin: 0;
        margin-bottom: 4px;
    }

    .offer > table > tbody > tr > td {
        font-size: 10px;
        padding: 8px 0px;
    }

    .offer > table > tbody > tr > td > span {
        font-size: 12px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }

    .contact p {
        margin-top: -40px;
        margin-bottom: 4px;
        font-size: 14px;
        margin-left: 0px;
    }

    .contact a {
        padding: 8px 20px;
        border-radius: 4px;
        font-size: 14px;
    }
}
