.wrapper {
    padding: 10px 0em;
    background-color: var(--white);
}

.gridBox {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
}

.gridBox > div:nth-child(1) {
    margin-top: 5em;
    text-align: center;
    padding: 0 4em;
}

.bannerImg {
    height: 20px;
    width: auto;
}

.gridBox > div > h1 {
    color: var(--primary);
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: -10px;
}

.header {
    margin-top: 40px;
    font-size: 26px;
    color: var(--primary);
    margin-bottom: -10px;
}

.gridBox > div > p {
    color: var(--dark);
    font-size: 16px;
}

.gridBox > div > button {
    border: none;
    border-radius: 4px;
    padding: 10px 40px;
    background-color: var(--primary);
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.gridBox > div > button:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: 250ms;
}

.gridBox > div > div {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridBox .search {
    background-color: var(--primary);
    padding: 30px;
    border-radius: 4px;
    margin-bottom: 1em;
}

.whyHealth {
    margin-top: 6em;
}

.whyHealth > div {
    margin-top: 2em;
    display: flex;

    margin-bottom: 20px;
    justify-content: space-between;
    padding: 0 80px;
}
.whyHealth > div > div {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: -10px;
}
.whyHealth > h1 {
    font-size: 24px;
    text-align: center;
    color: var(--primary);
}

.gridBox > div > div > p {
    padding-right: 40px;
    padding-left: 6px;
    color: var(--dark-blue);
    font-weight: 500;
}

.wrapper > h2 {
    text-align: center;
    color: var(--primary);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 24px;
    margin-top: 3em;
}

.service {
    padding: 20px 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-bottom: 2em;
}

.service > div {
    background-color: var(--white);
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--light);
    transition: 300ms;
    text-transform: capitalize;
    border-top: 4px solid var(--primary);
    box-shadow: 1px 2px 4px var(--light);
    font-size: 16px;
    color: var(--dark);
}

.service > div:hover {
    cursor: pointer;
    transform: translateY(-6px);
    transition: 300ms;
    box-shadow: 4px 8px 16px var(--light);
}

.order {
    font-size: 24px;
    padding-top: 5em;
    margin-bottom: -20px;
}

.show {
    position: relative;
}

.medicineShow {
    display: flex;
    flex-direction: column;
    text-align: left;

    position: absolute;
    background-color: var(--white);
    width: 70%;
    border-radius: 4px;
    padding: 2px 4px;
    overflow-y: auto;
    border: 1px solid var(--light);
    top: -58px;
    left: 15%;
    z-index: 110;
    max-height: 44vh;
}

.medicineShow > div {
    padding: 20px;
}

.optSelect {
    padding: 10px 6px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid var(--light-grey);
}

.optSelect h3 {
    margin-top: 6px;
    margin-bottom: 10px;
}

.optSelect:hover {
    background-color: var(--primary);
    color: var(--white);
}

.optSelect > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.optSelect button {
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 8px 20px;
    border-radius: 4px;
}

.optSelect button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: 200ms;
}

/* for mobilb responsive */
@media (max-width: 420px) {
    .wrapper {
        padding: 2px 0em;
    }
    .gridBox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-auto-flow: dense;
        direction: rtl; */
    }
    .gridBox > div:nth-child(1) {
        order: 1;
        margin-top: -2em;
        padding: 0 20px;
    }

    .gridBox > div:nth-child(2) {
        order: -1;
        margin-top: 1em;
    }
    .gridBox > div > h1 {
        margin-top: 20px;
        font-size: 1.5rem;
        margin-bottom: 8px;
    }

    .gridBox > div > p {
        font-size: 12px;
    }
    .wrapper h2 {
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 3.3rem;
    }

    .gridBox > div > div {
        display: flex;
        flex-direction: column;
    }
    .gridBox > div > div > p {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 12px;
    }
    .gridBox > div:nth-child(2) {
        padding: 30px;
    }
    .gridBox > div > button {
        padding: 8px 20px;
        font-size: 12px;
    }

    .gridBox .search {
        padding: 20px;
    }

    .service {
        padding: 10px 70px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        margin-bottom: 15px;
    }
    .service div {
        font-size: 12px;
        padding: 30px 40px;
    }

    /* new added  */
    .whyHealth > div {
        margin-top: 2em;
        display: flex;
        flex-direction: column;

        margin-bottom: 20px;
        justify-content: center;
        padding: 0 90px;
    }

    .whyHealth > div > div {
        margin-top: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;
        margin-top: -10px;
    }

    .heeader {
        margin-top: 10px;
    }

    .medicineShow {
        display: flex;
        flex-direction: column;
        text-align: left;

        position: absolute;
        background-color: var(--white);
        width: 80%;
        border-radius: 4px;
        padding: 2px 4px;
        overflow-y: auto;
        border: 1px solid var(--light);
        top: -50px;
        left: 10%;
        z-index: 110;
        max-height: 58vh;
    }

    .medicineShow > div {
        padding: 10px;
    }

    .optSelect > div {
        display: flex;
        flex-direction: column;
    }

    .optSelect button {
        margin-top: 24px;
    }
}
