.LabTest {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Wrapper {
    color: var(--primary);
    position: relative;
    left: 0;
    animation: left-right 1000ms;
}
@keyframes left-right {
    0% {
        left: -30px;
    }
    100% {
        left: 0;
    }
}
.Wrapper > h2 {
    font-weight: 400;
    font-size: 50px;
    margin: 0 0 20px 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
