.appointment {
    margin: 0;
    margin-bottom: 40px;
}

.appointment > p {
    margin-top: 2em;
    margin-left: 4em;
    font-size: 30px;
    color: var(--dark);
}

.appointment > p > span {
    color: var(--primary);
    font-weight: 500;
    font-size: 32px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 40px;
    padding: 10px 8em;
}

.grid > div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.grid > div > div {
    border-radius: 4px;
    margin-bottom: 10px;
}

.grid > div > div img {
    display: block;
    object-fit: cover;
    border-radius: 4px;
}

.grid > div > p {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--dark-grey);
    margin-top: -4px;
    font-weight: 500;
}

.grid > div > a {
    display: block;
    color: var(--primary);
    font-size: 16px;
    margin-top: 2px;
    font-weight: 500;
    cursor: pointer;
}

.grid > div > a:hover {
    opacity: 0.8;
    transition: 200ms;
}

@media (max-width: 420px) {
    .appointment {
        margin-bottom: 20px;
    }

    .appointment > p {
        margin: 0 20px;
        margin-top: 60px;
        margin-bottom: 16px;
        font-size: 18px;
    }

    .appointment > p > span {
        font-size: 18px;
    }

    .grid {
        margin-top: 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 60px 40px;
        padding: 10px 1em;
    }

    .grid > div > p {
        font-size: 18px;
    }

    .grid > div > a {
        font-size: 16px;
        font-weight: 500;
    }
}
