.Options {
    padding: 80px 0;
    position: absolute;
    bottom: -90px;
    width: 100%;
    z-index: 10;
}

/* .tagLine {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -10px;
}

.tagLine > h1 {
    font-weight: 500;
    color: var(--white);
    font-size: 30px;
    padding-left: 30px;
    opacity: 0.8;
}

.tagLine > h1 > span {
    display: block;
    padding-left: 8em;
} */

.OptionsWrapper {
    color: var(--dark);
    display: flex;
    justify-content: space-around;
    /* position: absolute; */
    right: 0;
    /* background-color: rgb(165, 217, 255); */
    background: linear-gradient(90deg, #3299de 0%, #8ed2ff 100%);
    padding: 30px 30px 40px 30px;
    border-radius: 10px;
    border: 1px solid var(--secondary);
}
.OptionsWrapper > div {
    height: 100px;
    width: 240px;
    /* border: 1px solid var(--light); */
    box-shadow: 0 2px 5px 0 rgba(3, 3, 3, 0.05);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.OptionsWrapper > div > div > p {
    margin-top: 10px;
    font-size: 14px;
}

.OptionsWrapper > div > div > div > span {
    font-size: 18px;
    font-weight: 600;
    opacity: 0.9;
    padding-left: 4px;
}

.OptionsWrapper > .line {
    width: 3px;
    border-radius: 10px;
    height: 125px;
    background-color: var(--secondary);
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* For media view */
@media (max-width: 420px) {
    .Options {
        padding: 40px 0;
    }

    .OptionsWrapper {
        display: flex;
        flex-direction: column;
    }
    .OptionsWrapper > div {
        width: 100%;
    }
}
