.wrapper {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 3em;
}

.wrapper .title {
    font-size: 38px;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 30px;
    margin-left: 3.5em;
}

.wrapper .title > span {
    font-size: 32px;
    color: var(--secondary);
    font-weight: 400;
}

.wrapper .innerWrap {
    padding: 0px;
    border-radius: 6px;
    margin-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}

/* collapsible */
.container {
    margin: 10px auto;
    width: 100%;
}

.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container ul li:nth-child(1),
.container ul li:nth-child(3) {
    background: linear-gradient(90deg, rgb(81, 128, 216) 0%, rgb(139, 218, 238) 100%);
}

.container ul li:nth-child(2) {
    background: linear-gradient(90deg, rgb(130, 203, 221) 0%, rgb(139, 218, 238) 100%);
    border-bottom: 4px solid var(--light);
    border-top: 4px solid var(--light);
}

.container .collab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.container .collab .collabContent {
    padding: 30px 40px;
    margin-top: 4em;
}

.container .collab .collabContent > span {
    font-size: 2.2em;
    font-weight: 500;
    color: var(--white);
}

.container .collab .collabContent > p {
    font-size: 16px;
    color: var(--dark);
    margin: 1em auto 2em auto;
    display: block;
    text-transform: capitalize;
}

.container .collab .collabContent > a {
    padding: 10px 30px;
    background-color: rgb(18, 59, 117);
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
}

.container .collab .collabContent > a:hover {
    opacity: 0.9;
    transition: 200ms;
}

.container .collab .collabGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px 4em;
}

.container .collab .collabGrid > div {
    border: 1px solid var(--light);
    background-color: var(--light-low);
    border-radius: 10px;
    padding: 30px 10px 20px 10px;
}

.container .collab .collabGrid > div > span {
    opacity: 0.8;
}

.container .collab .collabGrid > div > p {
    font-size: 18px;
    color: var(--primary);
    font-weight: 500;
}

.container .labelMain {
    display: block;
    cursor: pointer;
    padding: 30px 30px;
    background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
    border-radius: 6px;
    margin-top: 2px;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
}

.container .labelMain:hover {
    background: var(--secondary);
    color: var(--white);
    opacity: 0.8;
}

.container .labelMain > .span {
    float: right;
    transform: rotate(90deg);
    transition: 0.5s;
}

.container .labelMain > .span2 {
    float: right;
    transform: rotate(-90deg);
    transition: 0.5s;
}

.container input[type='checkbox'] {
    position: absolute;
    left: -9999px;
}

.container input[type='checkbox'] ~ ul {
    height: 0;
    transform: scaleY(0);
    transition: transform 0.5s ease-in;
}

.container input[type='checkbox']:checked ~ ul {
    height: 100%;
    transform-origin: top;
    transition: transform 0.5s ease-out;
    transform: scaleY(1);
}

.container input[type='checkbox']:checked + label {
    background-color: var(--secondary);
    border-bottom: 1px solid var(--white);
    color: var(--white);
}

@media (max-width: 420px) {
    /* .wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    } */

    .wrapper .title {
        font-size: 22px;
        font-weight: 500;
        color: var(--primary);
        margin-bottom: 30px;
        margin: 20px;
    }

    .wrapper .title > span {
        font-size: 16px;
        color: var(--secondary);
        font-weight: 400;
    }

    .container .collab {
        grid-template-columns: repeat(1, 1fr);
    }
    .wrapper .innerWrap {
        padding: 0;
        width: 100%;
    }
    .container .collab .collabGrid {
        padding: 10px;
        padding-bottom: 30px;
    }

    .container ul li:nth-child(2) {
        border-bottom: 10px solid var(--light);
        border-top: 10px solid var(--light);
    }

    .container ul li:nth-child(2) .innerContainer {
        padding-top: 24px;
    }

    .container ul li:nth-child(2) .collabContent {
        padding-top: 14px;
    }

    .container .collab .collabContent > span {
        font-size: 20px;
    }
    .container .collab .collabContent > p {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .container .collab .collabGrid > div > p {
        font-size: 12px;
    }
    .container .collab .collabGrid > div {
        padding: 10px 10px 12px 10px;
    }
    .container .collab .collabContent {
        margin-top: 0em;
    }

    .container .collab .collabContent > a {
        font-size: 12px;
    }
}
