.wrapper {
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.wrapper .title {
    text-align: center;
    font-size: 2.2em;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 10px;
}

.wrapper .innerWrap {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto;
}

/* collapsible */
.container {
    margin: 10px auto;
    width: 100%;
}

.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container .collab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--light-blue);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.container .collab .collabContent {
    padding: 30px 40px;
    margin-top: 4em;
}

.container .collab .collabContent > span {
    font-size: 1.8em;
    font-weight: 500;
    color: var(--primary);
}

.container .collab .collabContent > p {
    font-size: 14px;
    color: var(--dark);
    margin: 1em auto 2em auto;
    display: block;
}

.container .collab .collabContent > a {
    padding: 10px 24px;
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 2px;
    font-size: 14px;
}

.container .collab .collabGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 20px 4em;
}

.container .collab .collabGrid > div {
    border: 1px solid var(--light);
    background-color: var(--white);
    border-radius: 10px;
    padding: 30px 10px 20px 10px;
}

.container .collab .collabGrid > div > span {
    opacity: 0.8;
}

.container .collab .collabGrid > div > p {
    font-size: 18px;
    color: var(--primary);
    font-weight: 500;
}

.container .labelMain {
    display: block;
    cursor: pointer;
    padding: 30px 30px;
    background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
    border-radius: 6px;
    margin-top: 2px;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
}

.container .labelMain:hover {
    background: var(--secondary);
    color: var(--white);
    opacity: 0.8;
}

.container .labelMain > .span {
    float: right;
    transform: rotate(90deg);
    transition: 0.5s;
}

.container .labelMain > .span2 {
    float: right;
    transform: rotate(-90deg);
    transition: 0.5s;
}

.container input[type='checkbox'] {
    position: absolute;
    left: -9999px;
}

.container input[type='checkbox'] ~ ul {
    height: 0;
    transform: scaleY(0);
    transition: transform 0.5s ease-in;
}

.container input[type='checkbox']:checked ~ ul {
    height: 100%;
    transform-origin: top;
    transition: transform 0.5s ease-out;
    transform: scaleY(1);
}

.container input[type='checkbox']:checked + label {
    background-color: var(--secondary);
    border-bottom: 1px solid var(--white);
    color: var(--white);
}
