.Footer {
    padding: 50px;
    width: 100%;
    background: var(--dark-blue);
    color: var(--white);
}
.footerWrapper {
    margin: auto;
    width: 90%;
}

.footerContent {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.footerColumn {
    vertical-align: top;
}

.footerColumn > .Heading {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}

.footerColumn > .Heading::after {
    background: var(--white);
    content: '';
    height: 5px;
    width: 50%;
}

.footerColumn > .Item {
    margin-top: 10px;
    margin-bottom: 10px;
}
.footerColumn > .Item a {
    display: block;
    line-height: 30px;
}

.Item a:hover {
    cursor: pointer;
}

.footerColumnLast {
    vertical-align: top;
    display: inline-block;
    width: 20%;
}

.footerColumnLast > .headerSocial {
    font-size: 20px;
    font-weight: 800;
}

.footerColumnLast > .Media {
    display: flex;
    margin-top: 10px;
}
.Media > .Icon {
    margin-right: 50px;
}

.Media > a:hover {
    transition: 500ms;
    transform: rotateZ(360deg);
}

/* copyright */

.footerWrapper > .footerCopyright {
    border-top: 1px solid var(--grey);
    display: block;
    text-align: center;
}

.footerCopyright > .Logo {
    margin-top: 20px;
}

.footerCopyright > span {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
}
