.Footer {
    padding: 40px;
    width: 100%;
    background: var(--dark-blue);
    color: var(--white);
    margin-top: 150px;
}
.footerWrapper {
    position: relative;
    margin: auto;
    width: 90%;
}

/* Footer Contact */
.footerWrapper > .footerContact {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    width: 100%;
    background: var(--light-blue);
    border: 1px solid var(--light);
    color: var(--dark-blue);
    border-radius: 10px;
    position: absolute;
    top: -150px;
    padding: 15px;
    cursor: pointer;
}
.footerWrapper > .footerContact div {
    text-align: center;
    line-height: 0.7;
    font-size: 20px;
    font-weight: 500;
}

.footerWrapper > .footerContact > div > .Shadow > .Info:hover {
    transform: scale(1.2, 1.2);
    transition: 300ms;
}

.footerWrapper > .footerContact .Phone {
    border-right: 1px solid var(--dark-blue);
}

.footerWrapper > .footerContact .Email {
    border-right: 1px solid var(--dark-blue);
}

.footerWrapper > .footerContact div p span {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 300;
}

.footerWrapper > .footerContact > div > .Media {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.Media > .Icon {
    margin-right: 50px;
}

.Media > a:hover {
    transition: 500ms;
    transform: rotateZ(360deg);
}

.footerContent {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 30px;
}

.footerColumn {
    vertical-align: top;
    margin-left: 20px;
}

.footerColumn > .Heading {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}

.footerColumn > .Item {
    margin-top: 10px;
    margin-bottom: 10px;
}
.footerColumn > .Item a {
    display: block;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
}

.Item a:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* copyright */

.footerWrapper > .footerCopyright {
    border-top: 1px solid var(--light-blue);
    display: block;
    text-align: center;
}

.footerCopyright > .Logo img {
    object-fit: cover;
}

.footerCopyright > span {
    position: relative;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.5;
    top: -30px;
}

@media (max-width: 768px) {
    .footerContent {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 30px;
    }
}
