.wrapper {
    background-color: var(--light-low);
    padding: 40px 0px;
}

.pricingTable {
    margin: 0px auto;
}

.pricingTable .headerFlex {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    margin-left: 4em;
    padding-right: 1em;
}

.pricingTable .header {
    margin-top: 4.6em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list {
    margin-top: 14px;
    display: flex;
    font-size: 14px;
}

.list > li {
    padding: 0 10px;
    color: var(--dark);
}

.pricingTable .title {
    text-align: center;
    color: var(--primary);
    font-size: 2.2em;
    margin-bottom: 20px;
    margin-top: 0;
    letter-spacing: 0.04em;
}

.pricingTable .subtitle {
    text-align: center;
    color: var(--dark);
    font-size: 16px;
    letter-spacing: 0.04em;
    padding: 0px 100px;
}

.pricingTable .info {
    text-align: center;
    font-size: 1.6em;
    font-weight: 500;
    color: var(--dark);
    margin-top: 3em;
    margin-bottom: 10px;
    border-left: 2px solid var(--primary);
}

.pricingTable .info > span {
    border-left: 4px solid var(--secondary);
    padding-left: 10px;
    opacity: 0.9;
}

.pricingTable .infoText {
    text-align: center;
    margin-bottom: 40px;
    color: var(--dark);
    padding: 0 10em;
    font-size: 14px;
}

.gridFour {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 4em;
    grid-gap: 10px;
}

.gridThree {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 6em;
    grid-gap: 10px;
}

.table {
    background-color: var(--white);
    display: inline-block;
    padding: 0px 20px 30px;
    text-align: center;
    transition: all 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--light);
    box-shadow: 2px 4px 6px var(--light);
}

.table:hover {
    transform: translateY(-1em);
    transition: 300ms;
    box-shadow: 10px 20px 30px var(--light);
}

.table:not(:last-of-type) {
    margin-right: 3%;
}

.table:nth-of-type(2) {
    position: relative;
}

.table:nth-of-type(2):before {
    content: 'Most Popular';
    position: absolute;
    color: var(--white);
    display: block;
    background-color: var(--secondary);
    text-align: center;
    right: 15px;
    top: -25px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 0.6em;
    padding-top: 22px;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    transition: all 0.5s ease;
}

.tableHeader {
    font-size: 1.4em;
    padding: 40px 0px;
    border-bottom: 2px solid var(--light);
    letter-spacing: 0.03em;
    color: var(--dark);
}

.tablePricing {
    font-size: 2.6em;
    padding: 0px 0px;
    border-bottom: 2px solid var(--light);
    line-height: 0.7;
    margin-top: -10px;
    padding: 30px 0px;
}

.tablePricing span:first-child {
    font-size: 0.5em;
    vertical-align: top;
    letter-spacing: 0.15em;
}

.tablePricing span:last-child {
    vertical-align: bottom;
    font-size: 0.3em;
    letter-spacing: 0.04em;
    padding-left: 0.2em;
}

.tableOptions {
    list-style: none;
    padding: 0px;
    padding-bottom: 14px;
    font-size: 0.9em;
    border-bottom: 2px solid var(--light);
    margin-top: -14px;
}

.tableOptions > li {
    padding: 10px 0;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    text-transform: capitalize;
}

.tableOptions > li:before {
    content: '✓';
    display: inline-flex;
    margin-right: 15px;
    color: var(--white);
    background-color: var(--secondary);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 1em;
    padding: 2px;
    align-items: center;
    justify-content: center;
}

.tableStart {
    color: var(--white);
    border: 0;
    background-color: var(--secondary);
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 16px;
    letter-spacing: 0.07em;
    transition: all 0.4s ease;
}

.tableStart:hover {
    transform: translateY(-2px);
    box-shadow: 0px 40px 29px -19px rgba(108, 182, 213, 0.9);
}

.tableStart:active {
    box-shadow: inset 0 0 10px 1px #68abc7, 0px 40px 29px -19px rgba(104, 171, 210, 0.95);
    transform: scale(0.95) translateY(-9px);
}

.details {
    margin: 10px 10em;
    margin-top: 1em;
    margin-bottom: 0px;
    background-color: var(--white);
    padding: 10px 30px;
    border-radius: 10px;
}

.details > div {
    font-size: 1.1em;
    color: var(--dark);
}

.details > div:nth-child(1) {
    padding-bottom: 2px;
}

.details > div > span {
    border-left: 4px solid var(--primary);
    padding-left: 10px;
    margin-top: 1em;
}

.details > div > span {
    font-weight: 500;
    padding-left: 10px;
    display: block;
}

.details > div > h4 {
    font-size: 1em;
    color: var(--dark);
    font-weight: 400;
    margin-bottom: 0;
}

.details > div > ul > li {
    margin: 8px;
    margin-left: 20px;
    font-size: 16px;
}

/* responsive */
@media screen and (max-width: 480px) {
    .pricingTable > .subtitle {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 767px) {
    .table > * {
        display: inline-block;
        vertical-align: middle;
    }
}
@media screen and (max-width: 480px) {
    .table > * {
        display: block;
        float: none;
    }
}
@media screen and (max-width: 767px) {
    .table:after {
        display: table;
        content: '';
        clear: both;
    }
}
@media screen and (max-width: 767px) {
    .table {
        display: block;
        width: 90%;
        margin: 0 auto;
        max-width: 90%;
        margin-bottom: 20px;
        padding: 10px;
        padding-left: 20px;
    }
}
@media screen and (max-width: 767px) {
    .table:hover {
        transform: none;
    }
}
@media screen and (max-width: 767px) {
    .table:not(:last-of-type) {
        margin-right: auto;
    }
}
@media screen and (max-width: 767px) {
    .table:nth-of-type(2) h1 {
        padding-top: 8%;
    }
}
@media screen and (max-width: 988px) {
    .table:nth-of-type(2):before {
        font-size: 0.6em;
    }
}
@media screen and (max-width: 767px) {
    .table:nth-of-type(2):before {
        left: 10px;
        width: 45px;
        height: 45px;
        top: -10px;
        padding-top: 13px;
    }
}
@media screen and (max-width: 480px) {
    .table:nth-of-type(2):before {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 1068px) {
    .tableHeader {
        font-size: 1.45em;
    }
}
@media screen and (max-width: 767px) {
    .tableHeader {
        padding: 0px;
        border-bottom: none;
        float: left;
        width: 33%;
        padding-top: 3%;
        padding-bottom: 2%;
    }
}
@media screen and (max-width: 610px) {
    .tableHeader {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 480px) {
    .tableHeader {
        float: none;
        width: 100%;
        font-size: 1.8em;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 1068px) {
    .tablePricing {
        font-size: 2.8em;
    }
}
@media screen and (max-width: 767px) {
    .tablePricing {
        border-bottom: none;
        padding: 0;
        float: left;
        clear: left;
        width: 33%;
    }
}
@media screen and (max-width: 610px) {
    .tablePricing {
        font-size: 2.4em;
    }
}
@media screen and (max-width: 480px) {
    .tablePricing {
        float: none;
        width: 100%;
        font-size: 3em;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 1068px) {
    .tablePricing span:first-of-type {
        font-size: 0.3em;
    }
}
@media screen and (max-width: 1068px) {
    .tablePricing span:last-of-type {
        font-size: 0.25em;
    }
}
@media screen and (max-width: 1068px) {
    .tableOptions {
        font-size: 0.85em;
    }
}
@media screen and (max-width: 767px) {
    .tableOptions {
        border-bottom: none;
        padding: 0;
        margin-right: 10%;
    }
}
@media screen and (max-width: 610px) {
    .tableOptions {
        font-size: 0.7em;
        margin-right: 8%;
    }
}
@media screen and (max-width: 480px) {
    .tableOptions {
        font-size: 1.3em;
        margin-right: none;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 767px) {
    .tableOptions > li {
        text-align: left;
    }
}
@media screen and (max-width: 610px) {
    .tableOptions > li {
        padding: 5px 0;
    }
}
@media screen and (max-width: 480px) {
    .tableOptions > li {
        text-align: center;
    }
}
@media screen and (max-width: 1068px) {
    .tableOptions > li:before {
        width: 14px;
        height: 14px;
        padding: 1.5px;
    }
}
@media screen and (max-width: 767px) {
    .tableOptions > li:before {
        width: 12px;
        height: 12px;
    }
}
@media screen and (max-width: 1068px) {
    .tableStart {
        font-size: 0.95em;
    }
}
@media screen and (max-width: 767px) {
    .tableStart {
        margin-top: 0;
    }
}
@media screen and (max-width: 610px) {
    .tableStart {
        font-size: 0.9em;
        padding: 10px;
    }
}
@media screen and (max-width: 480px) {
    .tableStart {
        font-size: 1em;
        width: 50%;
        margin: 10px auto;
    }
}
@media screen and (max-width: 767px) {
    .tableStart:hover {
        transform: none;
        box-shadow: none;
    }
}
@media screen and (max-width: 767px) {
    .tableStart:active {
        transform: scale(0.95) translateY(0);
        box-shadow: none;
    }
}
