.MainNav {
    margin: 0;
    background: var(--white);
    box-shadow: 0 1px 1px var(--light);
    transition: 300ms;
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 0 60px;
}

/* ****** /newly addes /********** */
.toggleBar {
    display: none;
}
.extra {
    display: none;
}

/* ****** /newly addes /********** */

.MainNav > .Wrapper {
    display: flex;
    justify-content: space-between;
}

.MainNavReverse > .Wrapper {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);
}

.Wrapper > .left .SiteLogo {
    display: flex;
    align-items: center;
    padding: 20px;
}

.Wrapper > .center {
    display: flex;
    justify-content: center;
}

.Wrapper > .center > .MenuWrap {
    float: left;
    padding: 25px 20px;
    font-weight: 500;
    color: var(--primary);
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.Wrapper > .center > .MenuWrap:hover {
    color: var(--secondary);
}
.MenuHead {
    font-weight: 600;
    font-size: 16px;
}
.MenuLink {
    position: absolute;
    background: var(--white);
    border: 1px solid var(--light);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    border-radius: 4px;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: 200ms;
}

.MenuLink:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(35px);
}

.MenuLink > a {
    display: block;
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: 400;
    min-width: 80px;
    padding: 4px 20px;
}
.MenuLink > a:hover {
    color: var(--secondary);
}
.MenuWrap:hover > .MenuLink {
    opacity: 1;
    visibility: visible;
    transform: translateY(35px);
}

/* Siginin side */
.Wrapper > .right > .MenuWrap {
    float: right;
    padding: 15px 20px;
    font-weight: 500;
    color: var(--primary);
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.MenuSignin {
    font-weight: 600;
    font-size: 14px;
    border: 2px solid var(--primary);
    padding: 10px 25px;
    border-radius: 50px;
}
.SigninLink {
    position: absolute;
    background: var(--white);
    border: 1px solid var(--light);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    border-radius: 4px;
    transform: translateY(40px);
    opacity: 0;
    visibility: hidden;
    transition: 200ms;
}

.SigninLink:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(55px);
}
.SigninLink > a {
    display: block;
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: 400;
    min-width: 80px;
    padding: 4px 20px;
}
.SigninLink > a:hover {
    color: var(--secondary);
}
.MenuWrap:hover > .SigninLink {
    opacity: 1;
    visibility: visible;
    transform: translateY(55px);
}

@media (max-width: 420px) {
    .toggleBar {
        display: initial;

        /* position: absolute; */
        margin-top: 10px;
        padding-top: 14px;
        color: blue;
    }
    .MainNav > .Wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .Wrapper > .center {
        display: none;
    }
    .Wrapper > .right {
        display: none;
    }
    .icon {
        height: 25px;
        width: 25px;
        margin-left: 25px;
    }

    .extra {
        display: initial;
        position: fixed;
        display: flex;

        flex-direction: column;
        margin-top: 0px;

        grid-gap: 15px;
        background: white;
        width: 100%;
        padding: 25px;
    }
    .extra > div:nth-child(1) {
        width: 30%;
        margin-left: -10px;
    }
    .MenuSignin {
        padding: 10px 13px;
    }

    .MenuLink {
        margin-left: 100px;
    }

    .sidebar {
        display: none;
    }

    .toggleBar:hover > .sidebar {
        display: block;
        margin-left: -15px;
        position: absolute;
        background-color: var(--primary);
        width: 100%;
        margin-top: 15px;
        padding-left: 30px;
    }
    .option > p {
        color: var(--white);
        font-size: 17px;
        font-weight: 400;
    }
    .value {
        display: none;
        background-color: var(--light);
        padding-bottom: 1px;
        padding-top: 1px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .value > p {
        color: var(--primary);
        font-size: 15px;
        padding-left: 50px;
        padding-top: 4px;
    }

    .option:hover > .value {
        display: block;
        margin-left: -30px;
    }
}
