.Telemedicine{
    background: var(--secondary);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Wrapper{
    color: var(--white);
    padding: 0 0 0 150px;
    animation: left-right 1000ms;
}
@keyframes left-right {
    0% {
        padding: 0 0 0 120px;
    }
    100%{
        padding: 0 0 0 150px;
    }
}
.Wrapper > h2{
    font-weight: 400;
    font-size: 50px;
    margin: 0 0 20px 0;
}