.wrapper {
    width: 100%;
    margin: 2em auto;
    margin-top: 6em;
}

.wrapper .title {
    text-align: center;
    font-size: 38px;
    /* font-weight: 500; */
    color: var(--primary);
}

.whyContainer {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: var(--white);
    box-shadow: 0px 1px 2px var(--light);
    /* border: 1px solid var(--light); */
    /* border-radius: 10px; */
    background: linear-gradient(90deg, rgb(132, 188, 247) 0%, rgb(139, 218, 238) 100%);
}

.whyContainer:hover {
    box-shadow: 0px 10px 20px var(--light);
    cursor: pointer;
}

.whyContainer > div {
    text-align: center;
    border-radius: 10px;
    padding: 20px 30px;
    position: relative;
    overflow: hidden;
}

.whyContainer > div .span {
    background-color: var(--primary);
    padding: 10px;
    border-radius: 60%;
}

.whyContainer > div img {
    opacity: 0.8;
}

.whyContainer > div > .Counter {
    display: block;
    font-size: 2.2em;
    color: var(--primary);
    font-weight: 500;
    margin-top: 14px;
}

/* .whyContainer > div > .Counter span {
    font-size: 0.1em;
} */

.whyContainer > div > p {
    font-size: 1.2em;
    color: var(--dark);
    margin-top: -4px;
}

.whyUs .footer {
    position: relative;
    margin-top: -19%;
}

.whyUs .footer img {
    opacity: 0.05;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .whyContainer {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0px 30px;
        padding: 1em;
    }

    .wrapper > .title {
        margin-top: -20px;
        margin-bottom: 1.5rem;
        font-size: 1.4em;
    }

    .whyContainer > div > .Counter {
        font-size: 20px;
    }
    .whyContainer > div > p {
        font-size: 0.8em;
    }
}
