.wrapper {
    padding: 10px 0em;
    background-color: white;
}
.gridbox {
    display: grid;
    grid-template-columns: 2fr 1.4fr;
}

.gridbox > div:nth-child(1) {
    margin-top: 2.5em;
    text-align: center;
    padding: 0 4em;
}

.gridbox > div h1 {
    color: var(--primary);
    font-weight: 500;
}
.gridbox > div p {
    color: var(--dark);
    font-size: 16px;
    margin-top: 18px;
}

.gridbox > div h2 {
    color: var(--dark);
    font-size: 22px;
    margin-top: 18px;
    margin-bottom: 10px;
}
.gridbox > div > span > p {
    font-size: 16px;
    margin-top: 0px;
    font-weight: 400px;
}

.gridbox > div > div {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridbox > div > div > p {
    padding-left: 6px;
    padding-right: 80px;
    color: var(--dark-blue);
    font-weight: 500;
}

/* .gridBox > div > div {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridBox > div > div > p {
    padding-right: 40px;
    padding-left: 6px;
    color: var(--dark-blue);
    font-weight: 500;
} */

.gridbox > div > div:nth-child(even) {
    text-align: center;
}

.gridbox > div button {
    border: none;
    background-color: var(--primary);
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    border-radius: 4px;
    padding: 10px 40px;
}

.gridbox > div button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 240ms;
}

/* First section Mobile section */
@media (max-width: 420px) {
    /* .gridbox {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .restComponent {
        width: 100%;
        border: 1px solid orchid;
        padding-left: 10%;
        padding-right: 10%;
    } */
    .container {
        width: 100%;
        margin: 0 auto;
    }
}

/* //After the first section */

/* Most recently commented */
/* .wrapper > h2 {
    margin-top: 2em;
    text-transform: capitalize;
    text-align: center;
    color: var(--dark-blue);
    font-size: 22px;
    font-weight: 500;
}
.wrapper > p {
    font-size: 16px;
    text-align: center;
    margin-top: -8px;
    color: var(--dark);
    margin-bottom: 40px;
} */

/* Most recently commented */
/* .services {
    width: 90%;
    margin: 0 auto;
    padding: 2px 10em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    margin-bottom: 3em;
    margin-left: 8rem;
} */

/* .services > div {
    background-color: var(--white);
    padding: 30px 40px;
    text-align: center;
    border: 1px solid var(--light);
    border-radius: 10px;
    transition: 250ms;
    text-transform: capitalize;
    border-top: 4px solid var(--primary);
    box-shadow: 1px 2px 4px var(--light);
    font-size: 16px;
    color: var(--dark);
}

.services > div:hover {
    cursor: pointer;
    transform: translateY(-8px);
    transition: 250ms;
    box-shadow: 4px 8px 16px var(--light);
} */

/* .whyImportant {
    margin-top: 5rem;
}

.whyImportant h3 {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}
.whyImportant > div {
    margin-top: 3rem;
    width: 80%;
    margin: 0 auto;
}

.whyImportant > div > ul > li > p {
    line-height: 0.8;
    font-size: 16px;
} */

/* grid four  */

/* .gridFour {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.gridThree {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0em;
    grid-gap: 10px;
} */
/* 
.table {
    background-color: var(--white);
    display: inline-block;
    padding: 0px 20px 30px;
    text-align: center;
    transition: all 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--light);
    box-shadow: 1px 2px 4px var(--light);
    border-top: 4px solid var(--secondary);
} */

/* .table:hover {
    transform: translateY(-1em);
    transition: 300ms;
    box-shadow: 10px 20px 30px var(--light);
}

.table:not(:last-of-type) {
    margin-right: 3%;
}

.table:nth-of-type(2) {
    position: relative;
} */

/* .tableHeader {
    font-size: 1.4em;
    padding: 40px 0px;
    border-bottom: 2px solid var(--light);
    letter-spacing: 0.03em;
    color: var(--dark);
} */

/* .tableOptions {
    list-style: none;
    padding: 0px;
    padding-bottom: 14px;
    font-size: 0.9em;
    border-bottom: 2px solid var(--light);
    margin-top: -14px;
} */

/* .tableOptions > li {
    padding: 10px 0;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    text-transform: capitalize;
} */

/* .tableOptions > li:before {
    content: '✓';
    display: inline-flex;
    margin-right: 15px;
    color: var(--white);
    background-color: var(--secondary);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 1em;
    padding: 2px;
    align-items: center;
    justify-content: center;
} */

/* .tableStart {
    color: var(--white);
    border: 0;
    background-color: var(--secondary);
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 16px;
    letter-spacing: 0.07em;
    transition: all 0.4s ease;
} */

/* .tableStart:hover {
    transform: translateY(-2px);
    box-shadow: 0px 40px 29px -19px rgba(108, 182, 213, 0.9);
}

.tableStart:active {
    box-shadow: inset 0 0 10px 1px #68abc7, 0px 40px 29px -19px rgba(104, 171, 210, 0.95);
    transform: scale(0.95) translateY(-9px);
} */

/* .forWhom {
    margin-top: 60px;
    margin-left: 170px;
}

.forWhom > span {
    border-left: 3px solid blue;
    padding-left: 8px;
    font-weight: 500;
    font-size: 18px;
}
.forWhom > div {
    margin-left: 10px;
} */

/* Test section */
/* .Test {
    width: 80%;
    margin: 0 auto;
}

.Test > h3 {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
} */

/* .packageIncludes {
    margin-top: 5rem;
}

.packageIncludes h3 {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}
.packageIncludes > div {
    margin-top: 3rem;
    width: 80%;
    margin: 0 auto;
}

.packageIncludes > div > ul > li > p {
    line-height: 0.8;
    font-size: 16px;
} */

/* .testRequirements {
    margin-top: 60px;
    margin-left: 170px;
}

.testRequirements > span {
    border-left: 3px solid blue;
    padding-left: 8px;
    font-weight: 500;
    font-size: 18px;
}
.testRequirements > div {
    margin-left: 10px;
} */

/* avail the service  */
/* .availTheServices {
    margin-top: 5rem;
}

.availTheServices h3 {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}
.availTheServices > div {
    margin-top: 3rem;
    width: 80%;
    margin: 0 auto;
}

.availTheServices > div > ul > li > p {
    line-height: 0.8;
    font-size: 16px;
} */

/* why Us */
/* .whyUs {
    margin-top: 5rem;
}

.whyUs h3 {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}
.whyUs > div {
    margin-top: 3rem;
    width: 80%;
    margin: 0 auto;
}

.whyUs > div > ul > li > p {
    line-height: 0.8;
    font-size: 16px;
} */

/* Faq section */
/* .Faq {
    width: 78%;
    margin: 0 auto;
    margin-top: 5rem;
} */
