@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@300;400;500&display=swap');
:root {
  --primary: #457dc3;
  --secondary: #419cd9;
  --blue1: #535994;
  --blue2: #5F74AD;
  --blue3: #457DC3;
  --blue4: #5F91AD;
  --blue5: #77C0D1;
  --dark: #333;
  --dark-blue: #23395d;
  --dark-grey: #555;
  --grey: #7987a1;
  --light-grey: #aebacf;
  --dark-light: #dee2e9;
  --light: #f0f0f0;
  --white: #fff;
  --green: #5cb484;
  --red: #ef5455;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
