@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@300;400;500&display=swap');

:root {
    --deep-primary: rgb(12, 87, 157);
    --primary: #457dc3;
    --secondary: #419cd9;
    --blue1: #535994;
    --blue2: #5f74ad;
    --blue3: #457dc3;
    --blue4: #5f91ad;
    --blue5: #77c0d1;
    --light-blue: #eff6ff;
    --dark: #333;
    --dark-blue: #23395d;
    --dark-grey: #555;
    --grey: #7987a1;
    --light-grey: #aebacf;
    --dark-light: #dee2e9;
    --light: #f0f0f0;
    --light-low: #f8f8f8;
    --white: #fff;
    --green: #4ace86;
    --red: #ef5455;
    --orange: #ff4500;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-thumb {
    background: rgb(171, 171, 171);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(151, 151, 151);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
