.availTheServices {
    margin-top: 20px;
}

.availTheServices h3 {
    font-size: 24px;
    color: var(--dark-blue);
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}
.availTheServices > div {
    margin-top: 3rem;
    width: 80%;
    margin: 0 auto;
}

.availTheServices > div > ul > li > p {
    line-height: 0.8;
    font-size: 16px;
}

@media (max-width: 420px) {
    .availTheServices > div > ul > li > p {
        line-height: 1.2;
        font-size: 17px;
    }
}
